




<div class="container-fluid mt-3 ">
    <div class="row border1">
		<div class="col-12 col-md-12 col-lg-12 info p-5 " >
			<!-- <img src="../../../assets/imgs/main.png" alt=""> -->
			<h1>Andi Bank</h1>
			<h4 class="mt-3">Our bank stands out as a beacon of excellence, committed to providing unparalleled  <br> financial services and 
				dedicated to driving sustainable progress and <br> making a positive impact on society.</h4>
				<a class="btn mt-3" routerLink="../aboutus"><h5>For more about us</h5></a>
		</div>
	</div>
</div>






<div class="container mt-5 ">
    <div class="row border">
        <div class="col-12 col-md-5 col-lg-5 info p-3 " >
            <img src="../../../assets/imgs/loan.jpg" alt="">
        </div>
        <div class="col-12 col-md-7 col-lg-7 info p-3 " >
            <h3>Loan prediction</h3>
            <p>Loan prediction involves using data analysis and machine learning techniques to predict 
                the likelihood of loan repayment based on historical data and various other factors.</p>
        </div>
    </div>

	<div class="row border mt-5">
        <div class="col-12 col-md-5 col-lg-5 info p-3 " >
            <img src="../../../assets/imgs/cancer.jpg" alt="">
        </div>
        <div class="col-12 col-md-7 col-lg-7 info p-3 " >
            <h3>Support Cancer Patients</h3>
            <p>Andi Bank can be utilized as a means to support cancer by providing funding 
				for research and treatment initiatives aimed at addressing the disease.</p>
        </div>
    </div>

	<div class="row border mt-5">
        <div class="col-12 col-md-5 col-lg-5 info p-3 " >
            <img src="../../../assets/imgs/home_loan.jpg" alt="">
        </div>
        <div class="col-12 col-md-7 col-lg-7 info p-3 " >
            <h3>New type of insurance to cover home loan payments</h3>
            <p>Tryg Forsikring has entered into a partnership with 
				andi Bank introduce a new type of home loan insurance. </p>
        </div>
    </div>
</div>






<div class="container-fluid mt-5">
    <div class="row chart">

		<div class="col-12 col-md-6 col-lg-6 ">
			<br><br>
			<p>Here are some statistics for the number of loans accepted last 12 months</p>
		</div>

		<div class="col-12 col-md-6 col-lg-6 ">

			<canvas id="piechart"></canvas>
		</div>
	</div>
</div>



<div class="container mt-5 title ">
	<h1 class="">News</h1>
   </div>
<div class="container-fluid mt-3 ">
    <div class="row news">
		<div class="col-12 col-md-4 col-lg-4 info p-5 " >
			"Cybersecurity threats continue to rise in banking industry"
			<hr>
			This story discusses the ongoing challenge of cybersecurity threats in the banking industry, 
			and highlights the importance of banks' efforts to protect customer information and prevent fraud.

		</div>
		<div class="col-12 col-md-4 col-lg-4 info p-5 " >
			"Banks face pressure to increase diversity and inclusion"
			<hr>
			This story highlights the increasing scrutiny of banks' efforts to promote diversity and inclusion in their workforce and business practices, 
			as well as the potential benefits of these efforts for customers and the industry as a whole.

		</div>
		<div class="col-12 col-md-4 col-lg-4 info p-5 " >
			"Digital banking surges amid pandemic"
			<hr>
			This story discusses the trend toward online and mobile banking, 
			which has accelerated during the COVID-19 pandemic as more customers opt for remote banking options.

		</div>
	</div>
</div>



<div class="container mt-5 ">
    <div class="row border">
        <div class="col-12 col-md-4 col-lg-4 mt-3">
			<div class="card img-hover-zoom">
				<img class="card-img-top"  src="../../../assets/imgs/chicago.jpg" alt="Card image">
				<div class="card-body">
				  <h4 class="card-title">About Andi Bank</h4>
				  <p class="card-text">Andi Bank has endeavored to promote progress and advancement
                     in society for a span of 150 years. Our growth has been intertwined with the communities we belong to,
                     and we will persist in our efforts towards that goal every single day.</p>

				  <!-- <button class="btn btn-primary" (click) = "watch()">Watch Now</button> -->
				  <!-- <br><span style="color:red; font-weight:bold" *ngIf="movie.fav">Recommended</span> -->
				</div>
			</div>
			<br>
		</div>


        <div class="col-12 col-md-4 col-lg-4 mt-3">
			<div class="card img-hover-zoom">
				<img class="card-img-top"  src="../../../assets/imgs/sustainability.jpg" alt="Card image">
				<div class="card-body">
				  <h4 class="card-title">Sustainability</h4>
				  <p class="card-text">Our ultimate goal as an organization is to actively engage and 
                    contribute to society by promoting sustainable progress and utilizing our collective 
                    knowledge and expertise to create a positive and lasting impact.  </p>

				  <!-- <button class="btn btn-primary" (click) = "watch()">Watch Now</button> -->
				  <!-- <br><span style="color:red; font-weight:bold" *ngIf="movie.fav">Recommended</span> -->
				</div>
			</div>
			<br>

    </div>

        <div class="col-12 col-md-4 col-lg-4 mt-3">
			<div class="card img-hover-zoom">
				<img class="card-img-top"  src="../../../assets/imgs/career.webp" alt="Card image">
				<div class="card-body">
				  <h4 class="card-title">Andi Bank-Careers</h4>
				  <p class="card-text">The finance industry revolves around human interaction. 
                    If you aspire to make a change, consider the immense impact of nurturing potential and transforming 
                    dreams and visions into tangible reality by providing financial support.</p>

				  <!-- <button class="btn btn-primary" (click) = "watch()">Watch Now</button> -->
				  <!-- <br><span style="color:red; font-weight:bold" *ngIf="movie.fav">Recommended</span> -->
				</div>
			</div>
			<br>
		</div>
    </div>
</div>

<app-footer></app-footer>