.load {
    display: flex;
    justify-content: center;
    margin: 50px auto;
}

.a {
    margin: 50px auto;
    height: 27px;
}

.load div {
    width: 27px;
    height: 27px;
    background-color: orchid;
    border-radius: 50%;
    margin: 0 5px;
    animation-name: up-and-down;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.load .two {
    animation-delay: 0.3s;
}

.load .three {
    animation-delay: 0.6s;
}

@keyframes up-and-down {

    to {
        opacity: 0.2;
        transform: translateY(-20px);
    }
}






.b {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    color: white;
}

.center {
    display: flex;
    text-align: center;
    align-items: center;
    min-height: 80vh;
    justify-content: center;
}

.ring {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}
@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #e65c00;
    }

    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;
    }

    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
    }
}
.ring:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, .3);

}

span {
    color: #002337;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 3s ease-in-out linear infinite;

}

@keyframes text {
    50% {
        color: black;
    }

}