<div class="container-fluid mt-3 ">
    <div class="row border">
        <div class="col-12 col-md-6 col-lg-6 info p-5 " >
            <h2>Your Trusted Partner for Financial Success</h2>
            <p>
            Thank you for choosing us as your financial partner. We look forward 
            to serving you and helping you achieve your financial goals.
            Our mission is to be a reliable financial partner for our customers, 
            providing them with the tools and support needed to manage their finances effectively.
            Our bank is committed to providing excellent financial services to our customers. 
            We strive to offer a range of products and services that cater to the diverse needs of our clients. 
            Our team of experienced professionals is dedicated to helping our customers achieve their financial goals.
        </p>
  </div>
  <div class="col-12 col-md-6 col-lg-6  ">
    <video controls class="v" poster="../../../assets/imgs/chicago.jpg">
        <source src="../../../assets/andivideo.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
      </video>
  </div>
 </div>

 <div class="row border mb-5 mt-5">
    <div class="col-12 col-md-12 col-lg-12 info p-5 mt-5 info ">
       <h2 >Andi Bank in numbers</h2>

     <div class="mt-5">
       <figure class="mx-4">
        <img src="../../../assets/imgs/global.png" alt="Trulli" >
        <figcaption>Helping customers <br> in 50 countries</figcaption>
      </figure>
      
      <figure class="mx-4">
        <img src="../../../assets/imgs/costumers.png" alt="Trulli" >
        <figcaption>3.3 million 
           <br> customers</figcaption>
      </figure>

      <figure class="mx-4">
        <img src="../../../assets/imgs/Compagny (1).png" alt="Trulli" >
        <figcaption>2,055 corporate <br> and institutional customers</figcaption>
      </figure>

      <figure class="mx-3">
        <img src="../../../assets/imgs/employees.png" alt="Trulli">
        <figcaption>21,022 <br> employees</figcaption>
      </figure>
     </div>

    </div>

 </div>

 <div class="row mt-5 title mt-5">
  <h1 class="mt-5">Our core markets</h1>
 </div>


 <div class="row border mt-5">

  <div class="container  mt-5 mb-5">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#home">Hungary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#menu1">Japan</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#menu2">UK</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#menu3">USA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#menu4">Spain</a>
      </li>
    </ul>
  
    <!-- Tab panes -->
    <div class="tab-content">
      <div id="home" class="container tab-pane active"><br>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6" >
              <img src="../../../assets/imgs/oxford.jpg" alt="responsive webite" class="img-fluid">
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6" >
              <h2>Hungary</h2>
              <p>
                 The Budapest branch of our bank is located in the heart of the city,
                 overlooking the Danube River. With a team of highly trained professionals, 
                 provide a wide range of financial services to individuals and businesses. 
              </p>
              <p>
                Whether you need a loan, investment advice, or simply want to open a checking 
                account, we are here to help you achieve your financial goals.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="menu1" class="container tab-pane fade"><br>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6" >
              <img src="../../../assets/imgs/Tokyo.jpg" alt="responsive webite" class="img-fluid">
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6" >
              <h2>Japan</h2>
              <p>
                Our Tokyo branch is one of the newest additions to our global network, 
                but already it has become a vital hub for our operations in the Asia-Pacific region. 
                With a team of bilingual staff and experts in Japanese finance, we offer a range of services 
                to meet the needs of our clients in this dynamic and growing market. 
              </p>
              <p> From foreign exchange
                to investment banking, we are here to help you navigate the complex world of Japanese finance.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div id="menu2" class="container tab-pane fade"><br>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6" >
              <img src="../../../assets/imgs/oxford.jpg" alt="responsive webite" class="img-fluid">
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6" >
              <h2>UK</h2>
              <p>
                Our London branch is located in the heart of the city's financial district, 
                just a stone's throw away from the Bank of England. With a team of highly skilled 
                bankers and financial experts, we offer a range of services tailored to meet the 
                needs of our clients, whether they are individuals or large corporations. 
              </p>
              <p>
                From savings accounts to mergers and acquisitions, we are committed to helping our   
                customers achieve their financial goals.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div id="menu3" class="container tab-pane fade"><br>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6" >
              <img src="../../../assets/imgs/chicago.jpg" alt="responsive webite" class="img-fluid">
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6" >
              <h2>USA</h2>
              <p>
                Our New York City branch is one of our busiest locations, 
                serving the financial needs of millions of customers every year. 
                As a global financial center, New York City is home to many of the world's 
                largest banks, and our branch is proud to be part of this vibrant community. 
                From personal banking to corporate finance, we have the expertise and experience 
                to meet your every need.

              </p>
            </div>
          </div>
        </div>
      </div>

      <div id="menu4" class="container tab-pane fade"><br>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6" >
              <img src="../../../assets/imgs/spain.jpg" alt="responsive webite" class="img-fluid">
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6" >
              <h2>Spain</h2>
              <p>
                Our Barcelona branch is located in one of the most beautiful and 
                vibrant cities in Europe, and we are proud to be part of its diverse 
                and thriving community. 
              </p>
              <p>
                With a team of experienced bankers and financial experts, 
                we provide a range of services to meet the needs of our clients, whether they are 
                local residents or international businesses. From mortgages to insurance, we 
                are committed to helping our customers achieve their financial goals
              </p>
              </div>
          </div>
        </div>
      </div>

    </div>
  </div>

 </div>
</div>


<app-footer></app-footer>