
<nav class="navbar navbar-expand-sm  sticky-top ">
    <div class="container-fluid my-container-fluid">
      <a class="navbar-brand nav-link" routerLink="home"><img src="../../../assets/imgs/logo.png"alt="Logo" style="width:40px;" class="rounded-pill"></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="collapsibleNavbar">
        <ul class="navbar-nav  w-100">
          <li class="nav-item">
            <a class="nav-link" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="aboutus">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contactus">Contact us</a>
          </li>
          <li class="nav-item justify-content-end">
            <a class="nav-link " routerLink="/authentication">Login</a>
          </li>
        </ul>


      </div>
    </div>
  </nav>






  