:host {
  display: block;
  background-color: #f5f8fa;
}

.title {
  text-align: center;
  font-family: "Open Sans", sans-serif;

}




.tables {
  height: 80vh
}

table {
  /* box-shadow: 0 0 10px 1px black;  */
  background-color: white;
  color: #d8d9d9;
  border-collapse: collapse;
  background-color: transparent;
  width: 90%;
  border-radius: 3%;
  border-radius: 30% !important;
}

table th {
  border: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;


}

table thead {
  background-color: #f5f8fa;

}

tr td {
  padding: 10px;
  border: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}



mat-paginator {
  background-color: transparent;

}


.b {
  margin: 0 auto;
  border-radius: 25px;
  background: #1488CC;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2B32B2, #1488CC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 76%;
}

.s {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: none;
  font-size: 16px;
  outline: none;
  background-color: transparent;
  color: white !important;
  font-family: "Open Sans", sans-serif;
  margin-right: 10px;
}

.s::placeholder {
  color: white;
}


.plus {
  color: white;
  background-color: transparent;
  border: white solid 1px !important;
  box-shadow: none;
}

.t {
  display: flex;
  align-items: center;
  /* border-radius: 25px; */
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  /* background-color: white; */
  /* border: 2px #2196F3 solid; */
}



button.centered {
  display: inline-block !important;
  vertical-align: middle !important;
  /* margin-top: -5px !important;  */
}

.text-container {
  margin-left: 10px !important;
  /* adjust this value as needed to create spacing between the image and text */
  margin-right: 10px !important;
}

.text-container p {
  margin: 0 !important;
}