<div class="container-fluid ">
    <div class="row border info mt-5 ">
            <div class="p-2 col-6 col-md-4 col-lg-4 info ">
              <a class="nav-link" routerLink="../aboutus"><h5>About Us</h5></a>
              <p class="ms-3">You can learn more about our bank <br> from here <a routerLink="../aboutus">aboutus</a></p>
            </div>
            <div class="p-2 col-6 col-md-4 col-lg-4 info ">
              <a class="nav-link" routerLink="../contactus"><h5>Contact Us</h5></a>
              <p class="ms-3">Phone: +1 (555) 123-4567 <br>
                Email: info@andibank.com  <br>
                Physical address: 123 Main Street, Anytown, USA
              </p>
            </div>
            <div class="p-2 col-6 col-md-4 col-lg-4 info ">
              <h5>Follow Andi Bank</h5>
              <p class="ms-3">
                <a href="#">Twitter</a><br>
                <a href="#">Facebook</a><br>
                <a href="#">Instagram</a>
              </p>
            </div>
            <div class=" col-12 col-md-12 col-lg-12 copyright mt-3">
              © 2023 Andi Bank. All rights reserved
            </div>
  </div>

  <div class="row border info2 ">
   <div class="col-8 col-md-8 col-lg-8">
           Phone conversations may be recorded and stored due to documentation and security purposes.
      <br> Andi Bank reserves all rights. Andi Bank A/S is authorised by the X Financial Supervisory Authority. Read privacy statement and cookies and terms of use.
   </div>

  <div class="  col-4 col-md-4 col-lg-4">

    <img src="../../../assets/imgs/logo.png"  alt="">
  </div>   </div>
</div>